# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment (The most important one!)
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
map_test.py
scratch.py
# myRL_bundle.zip

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Investigator's Notes (Local environment variables)
.env